.block2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;

  @media (max-width: $tablet) {
    flex-direction: column;
    
    margin-top: -50px;
    
  }

  &__image {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: $mobile) {
      width: 80%;
      left:10%;

      @media (max-width:$mobileSmall) {
        margin-left: $marginSmall;

        @media (max-width:$mobileSmaller) {
        bottom: -70px;
        
        }
      }
      
    }
    
    &-1 {
      z-index : 1;
      margin-right: 20px;
    }

    &-2 {
      
      margin-top: -200px;

      @media (max-width: $desktopSmall) {
        margin-top: -280px;

        @media (max-width: $mobileSmall) {
          margin-top: -300px;
        }
      }
    }
  }

  &__info {
    margin-left: $margin;
    text-align: left;
    max-width:480px ;

    @media (max-width: $mobileSmall) {
      max-width: 327px;
      margin-left: $marginSmall;
    }
  }

  &__border {
    margin-left: 70px;
    color: #837DFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient( 45deg ,  #5D88FC 5%, #A35DFD 15% 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: #837DFF;
      margin-left: -100px;
      width: 40px;
      height: 1px;
    }
  }

  &__bold {
    font-weight: bold;
    margin-bottom:-20px;
  }
}
