.block3 {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  padding-top: 250px;

  @media (max-width:$tablet) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__container {
    @media (max-width: $desktopSmall) {
    margin-left: $margin;
     
      @media (max-width:$mobileSmall) {
        margin-left: 10%;
        padding: 0 24px 0 0;
      }
    }
  
  }

  &__border::after {
    content:'';
    display: inline-block;
    background:  #837DFF;
    height: 4px;
    width: 42px;
    border-radius:20px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 16px;
    width: 760px;

    @media (max-width: $tablet) {
      width: 510px;

      @media (max-width:$mobileSmall) {
        
        width: 100%;
      }
    }

  }

  &__empty {
    width:228px;
    min-height: 166px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__item {
    width:228px;
    min-height: 166px;
    margin:0 24px 24px 0;
    border-radius: 7.20678px;
    box-shadow: 0px 3.20301px 35.2332px rgba(89, 84, 190, 0.07);

    @media (max-width:$mobileSmall) {
      width:100%;
      margin: 0
    }

    &-textColor  {
      width: 121px;
      font-size: 14px;
      line-height: 17px;
      margin: 0;
      margin: auto 0;
      color: #837DFF;
      font-weight: 600;

      @media (max-width:$mobileSmall) {
        width:140px;
        
      }
    }

    &-text {
      vertical-align: top;
      font-size: 13px;
      line-height: 15px;
      width: 180px;
      margin: 0;
      margin-left: 24px;
      margin-top: 10px;

      @media (max-width:$mobileSmall) {
        width:80%;
        
      }
    }

    &-position {
      display: flex;
      height: 70px;
    }

    &-icon {
      margin: 0 16px 0 20px;
    }
  }

  &__image {
    position: relative;
    width:600px ;
    height: 690px;
    right:-500px;
    top: -200px;
    margin-right: -300px;

    @media (max-width:$tablet) {
      top:0px;
      right: -950px;
      margin-top: -300px;

      @media (max-width:$mobileSmall) {
        right: -350px;
        top: 300px;
      }
    }

    &-fix {
      position: absolute;
      
    }

    &-1 {
      top: 0px;
      right: 350px;

      @media (max-width:$mobileSmall) {
        width: 50%;
        right: 600px;
      }
    }

    &-2 {
      top: 90px;
      right: 120px;
      
      @media (max-width:$mobileSmall) {
        right: 500px;
        top: 30px;
        width: 50%;
      }
    }

    &-3 {
     right:520px;
     top: 300px;
    
      @media (max-width:$mobileSmall) {
        right: 680px;
        top: 110px;
        width: 50%;
      }
    }
  }


}





