.block2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 250px;

  &__image {
    display: flex;
    flex-direction: column;
    position: relative;
    
    &-1 {

    }

    &-2 {
      margin-top: -200px;
    }
  }

  &__info {
    margin-left: 62px;
    text-align: left;
  }

  &__border {
    margin-left: 70px;
    color: #837DFF;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background: #837DFF;
      margin-left: -100px;
      width: 40px;
      height: 1px;
    }
  }

  &__bold {
    font-weight: bold;
    margin: 30px 0 10px 0;
  }
}
