.block1 {
  display: flex;
  color: #fff;
  background: url(Image/Subtract.svg) bottom/cover  no-repeat;
  height: 725px;
  overflow: hidden;
  
  @media (max-width: $desktopSmall) {
    background: url(Image/Subtract-step2.svg) bottom /cover  no-repeat;
    
  }

  @media (max-width: $mobile) {
    
    background: url(Image/Subtract-iPad.svg) bottom/cover no-repeat ;   
  }

  @media (max-width: $mobileSmall) {
    background: url(Image/Subtract-mobileSmaller.svg) bottom/ cover no-repeat ;
    margin-top: -100px;
  }

  &__container {
    margin: 0;
    margin-right: 17%;
    padding-top: 100px;
    min-width: 600px;

    @media (max-width: $mobileSmall) {
      padding-top: 200px;
    }

  }

  &__info {
    margin-top: 36px;
    font-size: 16px;
    line-height: 27px;
    max-width: 414px;

    @media (max-width: $mobileSmall) {
      max-width: 327px;
    }
  }

  &__headButton {
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    height: 50px;
    width: 240px;
    background: linear-gradient(90deg, #FF5879 -9.48%, #FFAA25 100%);
    box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
    border-radius: 59px;
    border: none;
  }

  &__image {
    margin-top: -50px;
    
    &-2 {
      margin-top: -400px;
      padding-left: 200px;
    }
  }
}