.block1 {
  

  &__bg {
    background: url(Image/Subtract.svg)  left top/ contain no-repeat;
    min-height:725px;
   
    @media (max-width: $desktopSmall) {
      background-size: cover;
      margin-left: -350px;
    }
  }

  
}