.block2 {

  &__bg {
   
   
    &::before {
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right: 0;
      height: 760px;
      width: 1000px;
    border-radius: 0 0 0 100px;
    // transform: rotate(-45deg) scale(1.5);
    // margin-left: 20%;
    // overflow: hidden;
    background: linear-gradient( -10deg, #5DFCE9 -6.71%, #5C54F2 59.24%);
  
    }
  }
}
