@import "_variables.scss";
@import "_block1.scss";
@import "_block2.scss";
@import "_block3.scss";
@import "_block4.scss";
@import "_block5.scss";

* {
  padding:0;
  margin:0;
}

body {
  height: 100%;
  width:100%;
  font-family:'Montserrat', sans-serif;
}

h1 {
  font-size: 52px;
  line-height: 60px;
  max-width: 600px;

  @media (max-width: $mobileSmaller) {
    font-size: 30px;
    line-height: 34px;
    max-width: 327px;
  }

}

.container {
  margin-left: 20%;
  
  @media (max-width: $desktopSmall) {
    margin-left: 10%;
  }
}