.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: url(Image/Subtract.svg) bottom/cover no-repeat;
  height: 725px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .block1 {
    background: url(Image/Subtract-step2.svg) bottom/cover no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1 {
    background: url(Image/Subtract-iPad.svg) bottom/cover no-repeat;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1 {
    background: url(Image/Subtract-mobileSmaller.svg) bottom/cover no-repeat;
    margin-top: -160px;
  }
}

.block1__container {
  margin: 0;
  padding-top: 100px;
  min-width: 600px;
}

@media (max-width: 769px) {
  .block1__container {
    min-width: 300px;
  }
}

@media (max-width: 769px) and (max-width: 540px) {
  .block1__container {
    padding-top: 200px;
  }
}

.block1__info {
  margin-top: 36px;
  font-size: 16px;
  line-height: 27px;
  max-width: 414px;
  color: #fff;
}

@media (max-width: 540px) {
  .block1__info {
    max-width: 280px;
  }
}

.block1__headButton {
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  height: 50px;
  width: 240px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-9.48%, #FF5879), to(#FFAA25));
  background: linear-gradient(90deg, #FF5879 -9.48%, #FFAA25 100%);
  -webkit-box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
          box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
  border-radius: 59px;
  border: none;
}

.block1__image {
  position: relative;
  margin-top: -40px;
  text-align: right;
}

@media (max-width: 1300px) {
  .block1__image {
    margin-top: -400px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image {
    margin-top: -230px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image {
    margin-top: -130px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image {
    margin-top: 130px;
  }
}

.block1__image-1 {
  margin-right: -80px;
}

@media (max-width: 1300px) {
  .block1__image-1 {
    margin-right: -600px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image-1 {
    margin-right: -220px;
    max-width: 314px;
    max-height: 237px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image-1 {
    margin-right: -250px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image-1 {
    display: none;
  }
}

.block1__image-2 {
  margin-top: -400px;
  margin-right: -50px;
}

@media (max-width: 1300px) {
  .block1__image-2 {
    margin-right: -200px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image-2 {
    width: 10%;
    margin-right: -70px;
    min-width: 250px;
    max-width: 303px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image-2 {
    padding-top: 40px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image-2 {
    min-width: 200px;
  }
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 200px;
}

@media (max-width: 1044px) {
  .block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -50px;
  }
}

.block2__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 769px) {
  .block2__image {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 769px) and (max-width: 540px) and (max-width: 376px) {
  .block2__image {
    bottom: -70px;
  }
}

.block2__image-1 {
  z-index: 1;
  margin-right: 20px;
}

.block2__image-2 {
  margin-top: -200px;
}

@media (max-width: 1300px) {
  .block2__image-2 {
    margin-top: -280px;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .block2__image-2 {
    margin-top: -300px;
  }
}

.block2__info {
  margin-left: 15%;
  text-align: left;
  max-width: 480px;
}

@media (max-width: 540px) {
  .block2__info {
    max-width: 327px;
    margin-left: 10%;
  }
}

.block2__border {
  margin-left: 60px;
  color: #837DFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(45deg, #5D88FC 5%, #A35DFD 15% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.block2__border::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #837DFF;
  margin-left: -100px;
  width: 40px;
  height: 1px;
}

.block2__bold {
  font-weight: bold;
  margin-bottom: -20px;
}

.block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -100px;
  padding-top: 250px;
}

@media (max-width: 1044px) {
  .block3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1300px) {
  .block3__container {
    margin-left: 15%;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .block3__container {
    margin-left: 10%;
    padding: 0 24px 0 0;
  }
}

.block3__border::after {
  content: '';
  display: inline-block;
  background: #837DFF;
  height: 4px;
  width: 42px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.block3__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 16px;
  width: 760px;
}

@media (max-width: 1044px) {
  .block3__list {
    width: 510px;
  }
}

@media (max-width: 1044px) and (max-width: 540px) {
  .block3__list {
    width: 100%;
  }
}

.block3__empty {
  width: 228px;
  min-height: 166px;
}

@media (max-width: 1044px) {
  .block3__empty {
    display: none;
  }
}

.block3__item {
  width: 228px;
  min-height: 166px;
  margin: 0 24px 24px 0;
  border-radius: 7.20678px;
  -webkit-box-shadow: 0px 3.20301px 35.2332px rgba(89, 84, 190, 0.07);
          box-shadow: 0px 3.20301px 35.2332px rgba(89, 84, 190, 0.07);
}

@media (max-width: 540px) {
  .block3__item {
    width: 100%;
    margin: 0;
  }
}

.block3__item-textColor {
  width: 121px;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin: auto 0;
  color: #837DFF;
  font-weight: 600;
}

@media (max-width: 540px) {
  .block3__item-textColor {
    width: 140px;
  }
}

.block3__item-text {
  vertical-align: top;
  font-size: 13px;
  line-height: 15px;
  width: 180px;
  margin: 0;
  margin-left: 24px;
  margin-top: 10px;
}

@media (max-width: 540px) {
  .block3__item-text {
    width: 80%;
  }
}

.block3__item-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.block3__item-icon {
  margin: 0 16px 0 20px;
}

.block3__image {
  position: relative;
  width: 600px;
  height: 690px;
  right: -500px;
  top: -200px;
  margin-right: -300px;
}

@media (max-width: 1044px) {
  .block3__image {
    top: 0px;
    right: -950px;
    margin-top: -300px;
  }
}

@media (max-width: 1044px) and (max-width: 540px) {
  .block3__image {
    right: -350px;
    top: 300px;
  }
}

.block3__image-fix {
  position: absolute;
}

.block3__image-1 {
  top: 0px;
  right: 350px;
}

@media (max-width: 540px) {
  .block3__image-1 {
    width: 50%;
    right: 600px;
  }
}

.block3__image-2 {
  top: 90px;
  right: 120px;
}

@media (max-width: 540px) {
  .block3__image-2 {
    right: 500px;
    top: 30px;
    width: 50%;
  }
}

.block3__image-3 {
  right: 520px;
  top: 300px;
}

@media (max-width: 540px) {
  .block3__image-3 {
    right: 680px;
    top: 110px;
    width: 50%;
  }
}

.block4 {
  padding-top: 10px;
}

.block4__head {
  max-width: 653px;
  text-align: center;
}

@media (max-width: 540px) {
  .block4__head {
    font-size: 28px;
    line-height: 35px;
  }
}

.block4__container {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block4__headInfo {
  color: #3A3E4E;
  max-width: 550px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

@media (max-width: 769px) {
  .block4__headInfo {
    font-size: 16px;
    line-height: 27px;
  }
}

.block4__border {
  position: relative;
  background: linear-gradient(45deg, #5D88FC 13%, #A35DFD 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  left: -20px;
  padding-bottom: 30px;
}

.block4__border::after {
  content: '';
  display: inline-block;
  background: #837DFF;
  height: 1px;
  width: 42px;
  margin-bottom: 60px;
  text-align: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -42px;
}

.block4__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

@media (max-width: 1044px) {
  .block4__list {
    max-width: 700px;
    padding-left: 60px;
  }
}

@media (max-width: 1044px) and (max-width: 769px) {
  .block4__list {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block4__item {
  position: relative;
  color: #848CA8;
  max-width: 312px;
  line-height: 27px;
  margin-top: 100px;
  counter-increment: list 0;
  margin-right: 20px;
}

.block4__item::before {
  content: '';
  background: url(Image/Ellips.svg) center no-repeat;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  top: -125px;
  left: -50px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media (max-width: 769px) {
  .block4__item::before {
    bottom: 180px;
  }
}

.block4__item::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  position: absolute;
  width: 160px;
  height: 160px;
  top: -129px;
  left: -50px;
  counter-increment: list;
  content: counter(list);
}

.block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: url(Image/Subtract-bottom.svg) left/cover no-repeat;
  height: 725px;
  overflow: hidden;
  margin-left: 50px;
}

@media (max-width: 1980px) {
  .block5 {
    background-position: bottom;
    margin-left: 0px;
  }
}

@media (max-width: 1980px) and (max-width: 540px) {
  .block5 {
    background: url(Image/Subtract-bottom2.svg) top/cover no-repeat;
    max-height: 500px;
    margin-top: 40px;
  }
}

.block5__container {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block5__info {
  max-width: 520px;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 540px) {
  .block5__info {
    width: 290px;
  }
}

.block5__preInfo {
  text-align: center;
  max-width: 0;
  max-width: 290px;
}

.block5__button {
  position: absolute;
  right: 0;
  font-family: inherit;
  background: -webkit-gradient(linear, left top, right top, color-stop(-167.93%, #FFAA25), to(#FFAA25));
  background: linear-gradient(90deg, #FFAA25 -167.93%, #FFAA25 100%);
  -webkit-box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
          box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
  border-radius: 59px;
  border: none;
  min-width: 180px;
  height: 50px;
  font-size: 16px;
  line-height: 15px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 540px) {
  .block5__button {
    width: 100%;
    bottom: -65px;
  }
}

.block5__mail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 25px;
  height: 50px;
  width: 480px;
  margin-bottom: 140px;
}

@media (max-width: 540px) {
  .block5__mail {
    width: 100%;
    margin-bottom: 150px;
  }
}

.block5__iconMail {
  margin-left: 24px;
}

.block5__mailForm {
  vertical-align: middle;
  height: 30px;
  border: none;
  outline: none;
  padding-left: 24px;
}

@media (max-width: 540px) {
  .block5__mailForm {
    width: 70%;
  }
}

.block5__mailForm:hover {
  border: none;
  outline: none;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1980px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 52px;
  line-height: 60px;
  max-width: 600px;
  font-weight: 800;
}

@media (max-width: 540px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
    min-width: 327px;
  }
}

@media (max-width: 540px) and (max-width: 376px) {
  h1 {
    min-width: 300px;
  }
}

section {
  overflow: hidden;
}

p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 27px;
  color: #848CA8;
}

.container {
  margin-left: 20%;
}

@media (max-width: 1300px) {
  .container {
    margin-left: 15%;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .container {
    margin-left: 10%;
  }
}

.page {
  text-align: center;
  margin: 20px;
  margin-bottom: 70px;
}

.site {
  color: red;
}
/*# sourceMappingURL=list.css.map */