.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: url(Image/Subtract.svg) bottom/cover no-repeat;
  height: 725px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .block1 {
    background: url(Image/Subtract-step2.svg) bottom/cover no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1 {
    background: url(Image/Subtract-iPad.svg) bottom/cover no-repeat;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1 {
    background: url(Image/Subtract-mobileSmaller.svg) bottom/cover no-repeat;
    margin-top: -160px;
  }
}

.block1__container {
  margin: 0;
  padding-top: 100px;
  min-width: 600px;
}

@media (max-width: 769px) {
  .block1__container {
    min-width: 300px;
  }
}

@media (max-width: 769px) and (max-width: 540px) {
  .block1__container {
    padding-top: 200px;
  }
}

.block1__info {
  margin-top: 36px;
  font-size: 16px;
  line-height: 27px;
  max-width: 414px;
  color: #fff;
}

@media (max-width: 540px) {
  .block1__info {
    max-width: 280px;
  }
}

.block1__headButton {
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  height: 50px;
  width: 240px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-9.48%, #FF5879), to(#FFAA25));
  background: linear-gradient(90deg, #FF5879 -9.48%, #FFAA25 100%);
  -webkit-box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
          box-shadow: 0px 4px 52px rgba(254, 145, 1, 0.36);
  border-radius: 59px;
  border: none;
}

.block1__image {
  position: relative;
  margin-top: -40px;
  text-align: right;
}

@media (max-width: 1300px) {
  .block1__image {
    margin-top: -400px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image {
    margin-top: -230px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image {
    margin-top: -130px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image {
    margin-top: 130px;
  }
}

.block1__image-1 {
  margin-right: -80px;
}

@media (max-width: 1300px) {
  .block1__image-1 {
    margin-right: -600px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image-1 {
    margin-right: -220px;
    max-width: 314px;
    max-height: 237px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image-1 {
    margin-right: -250px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image-1 {
    display: none;
  }
}

.block1__image-2 {
  margin-top: -400px;
  margin-right: -50px;
}

@media (max-width: 1300px) {
  .block1__image-2 {
    margin-right: -200px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) {
  .block1__image-2 {
    width: 10%;
    margin-right: -70px;
    min-width: 250px;
    max-width: 303px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) {
  .block1__image-2 {
    padding-top: 40px;
  }
}

@media (max-width: 1300px) and (max-width: 1044px) and (max-width: 769px) and (max-width: 540px) {
  .block1__image-2 {
    min-width: 200px;
  }
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 200px;
}

@media (max-width: 1044px) {
  .block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -50px;
  }
}

.block2__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 769px) {
  .block2__image {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 769px) and (max-width: 540px) {
  .block2__image {
    margin-left: 10%;
  }
}

@media (max-width: 769px) and (max-width: 540px) and (max-width: 376px) {
  .block2__image {
    bottom: -70px;
  }
}

.block2__image-1 {
  z-index: 1;
}

.block2__image-2 {
  margin-top: -200px;
}

@media (max-width: 1300px) {
  .block2__image-2 {
    margin-top: -280px;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .block2__image-2 {
    margin-top: -300px;
  }
}

.block2__info {
  margin-left: 15%;
  text-align: left;
  max-width: 480px;
}

@media (max-width: 540px) {
  .block2__info {
    max-width: 327px;
    margin-left: 10%;
  }
}

.block2__border {
  margin-left: 70px;
  color: #837DFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(45deg, #5D88FC 5%, #A35DFD 15% 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block2__border::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: #837DFF;
  margin-left: -100px;
  width: 40px;
  height: 1px;
}

.block2__bold {
  font-weight: bold;
  margin-bottom: -20px;
}

.block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -100px;
  padding-top: 300px;
}

@media (max-width: 1044px) {
  .block3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1300px) {
  .block3__container {
    margin-left: 15%;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .block3__container {
    margin-left: 10%;
  }
}

.block3__border::after {
  content: '';
  display: inline-block;
  background: #837DFF;
  height: 4px;
  width: 42px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.block3__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin-top: 16px;
  width: 760px;
}

@media (max-width: 1044px) {
  .block3__list {
    width: 510px;
  }
}

@media (max-width: 1044px) and (max-width: 540px) {
  .block3__list {
    max-width: 327px;
  }
}

.block3__empty {
  width: 228px;
  min-height: 166px;
}

@media (max-width: 1044px) {
  .block3__empty {
    display: none;
  }
}

.block3__item {
  width: 228px;
  min-height: 166px;
  margin: 0 24px 24px 0;
  border-radius: 7.20678px;
  -webkit-box-shadow: 0px 3.20301px 35.2332px rgba(89, 84, 190, 0.07);
          box-shadow: 0px 3.20301px 35.2332px rgba(89, 84, 190, 0.07);
}

@media (max-width: 540px) {
  .block3__item {
    width: 327px;
    margin: 0;
  }
}

.block3__item-textColor {
  width: 121px;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin: auto 0;
  color: #837DFF;
  font-weight: 600;
}

@media (max-width: 540px) {
  .block3__item-textColor {
    width: 140px;
  }
}

.block3__item-text {
  vertical-align: top;
  font-size: 13px;
  line-height: 15px;
  width: 180px;
  margin: 0;
  margin-left: 24px;
  margin-top: 10px;
}

@media (max-width: 540px) {
  .block3__item-text {
    width: 200px;
  }
}

.block3__item-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.block3__item-icon {
  margin: 0 16px 0 20px;
}

.block3__image {
  position: relative;
  width: 600px;
  height: 690px;
  right: -500px;
  top: -200px;
  margin-right: -300px;
}

@media (max-width: 1044px) {
  .block3__image {
    top: 0px;
    right: -950px;
    margin-top: -300px;
  }
}

@media (max-width: 1044px) and (max-width: 540px) {
  .block3__image {
    right: -400px;
    top: 300px;
  }
}

.block3__image-fix {
  position: absolute;
}

.block3__image-1 {
  top: 0px;
  right: 350px;
}

@media (max-width: 540px) {
  .block3__image-1 {
    width: 50%;
    right: 600px;
  }
}

.block3__image-2 {
  top: 90px;
  right: 120px;
}

@media (max-width: 540px) {
  .block3__image-2 {
    right: 500px;
    top: 30px;
    width: 50%;
  }
}

.block3__image-3 {
  right: 520px;
  top: 300px;
}

@media (max-width: 540px) {
  .block3__image-3 {
    right: 680px;
    top: 110px;
    width: 50%;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 1980px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 52px;
  line-height: 60px;
  max-width: 600px;
  font-weight: 800;
}

@media (max-width: 540px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
    min-width: 327px;
  }
}

@media (max-width: 540px) and (max-width: 376px) {
  h1 {
    min-width: 300px;
  }
}

section {
  overflow: hidden;
}

p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 27px;
  color: #848CA8;
}

.container {
  margin-left: 20%;
}

@media (max-width: 1300px) {
  .container {
    margin-left: 15%;
  }
}

@media (max-width: 1300px) and (max-width: 540px) {
  .container {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=list.css.map */